<div class="shopping-cart section">
    <div class="container">
        <div class="cart-list-head">
            <div class="cart-list-title">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <p>Product Name</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>#In Stock</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Price/Item</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Remove</p>
                    </div>
                </div>
            </div>
            <div *ngFor="let item of products" class="cart-single-list">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2 col-12">
                        <a [routerLink]="['/products', item.id,'info']">
                            <img src="{{item.img}}" alt="#" data--h-bstatus="5PROCESSED"></a>
                    </div>
                    <div class="col-lg-4 col-md-2 col-12">
                        <h5 class="product-name">
                            <a [routerLink]="['/products', item.id,'info']">
                                {{item.title}}
                            </a>
                        </h5>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p *ngIf="item.stock > 1">{{item.stock}} items</p>
                        <p *ngIf="item.stock == 1"> Only One Item</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>$ {{item.price}}</p>
                    </div>
                    <div class="col-lg-1 col-md-2 col-12">
                        <a class="remove-item" (click)="removeItem(item.id)"><i class="bi bi-trash "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>